<footer class="footer row">

  <div class="col-lg-3 fbox">
    <div class"text-center">
        <img src="assets/images/footer.jpg" class="side-icon">
      </div>
  </div>

  <div class="col-lg-3 fbox">
    <h3 class"text-center" >Shipping and returns</h3>
    <div class"text-center" ng-repeat="link in shippingLinks">
        <a href="{{link.url}}">{{link.title}}</a>
      </div>
  </div>

  <div class="col-lg-3 fbox">
    <h3 class"text-center" >About us</h3>
    <div class"text-center" ng-repeat="link in aboutLinks">
        <a href="{{link.url}}">{{link.title}}</a>
      </div>
  </div>

  <div class="col-lg-3 fbox">
    <h3 class"text-center" >Follow Us</h3>
    <div class"text-center" ng-repeat="link in socialLinks">
        <a href="{{link.url}}">{{link.title}}</a>
      </div>
  </div>
</footer>
