<div class= "productTumbnail" ng-mouseover= "onProduct()" ng-mouseleave= "offProduct()" ng-click="productClick()">
	<div class="overlay" ng-show= "isSelected">
	 	<div class= "infoBox">
	 		${{product.price}} <br>
	 		{{product.title}} <br>
	 		<u> view </u>
	 	</div>
	</div>

	<img src="{{product.images[0]}}" ng-class = "productImageValue"><br>
	<div ng-class="titleValue" ng-hide="isSelected">
		{{product.title}}
	</div>
	<div class="mobileText" ng-show="isMobile">
		{{product.price | currency}}
	</div>
</div>