<div class= "headerTopLinks" >
	
	<div ng-hide="isMobile" 
			 ng-repeat= "link in topLinks" 
			 ng-mouseover="onObject(link)" 
			 ng-mouseleave="offObject(link)" 
			 ng-class="link.focus"> 
		<img class= "iconImg" src= "{{link.image}}" />
	</div>

	<div ng-show= "isMobile" class= "mobileHamburgerMenu">
		<img class= "mobileMenuIcon" 
			 	 src= "/assets/images/mobileMenu.png"
			   ng-touchstart ="openMobileMenu()" />
	</div>

	<div ng-show= "mobileMenu" class= "mobileMenu">
		<div class="closeButton" ng-touchstart ="closeMobileMenu()">
			X
		</div>
		<div class ="mobileContainer" ng-repeat ="link in topLinks" 
																	ng-click ="goTo">
			{{link.title}}
		</div>
	</div>
</div>
