.product{
  background-color:white;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;

  img{
    height: 400px;
    width: 300px;
  }
  b{
    font-size: 30px;
  }
  .qty{
    width: 30px;
  }

}