<div class="product">

  <div class="col-md-6">
    <div class="text-center">
      <img class="picture" ng-src="{{product.image}}">
    </div>
  </div>

  <div class="col-md-6">
    <div class="info">

      <div class="text-center">
        <h1>{{product.name}}</h1><br>
        <i>id:{{product.id}}</i>
      </div>

      <b>price:</b>{{product.price}}$<br>
      <b>id:</b>{{product.id}}<br>
      <b>qty:</b><input type="text" class="qty" ng-model="qty"><br>

      <div class="text-center">
        <input type="submit" value="add to cart">
      </div>

    </div>
  </div>
</div>