<div class= "product row" >
	<div class="col-md-4 imagesContainer" >
		<div class="row text-center">
			<img class="mainImage" ng-src="{{currentImage}}" >
		</div>
		<div  class="row text-center">
			<div class="railImages" ng-repeat="image in product.images" >
				<img class="railImage" ng-src="{{image}}" ng-click="imageChange(image)" >
			</div>
		</div>	
	</div>
	<div class= "col-md-6 infoContainer">
		<div class="row">
			<div class="text-center"> <h1> {{product.title}} </h1> </div>
		</div>
		<div class="row">

			{{product.price | currency}}
		</div>
		<div class="row">

			{{product.description}}
		</div>
		<div class="row">
			quantity: <input class="qtyBox"type="number" min="1" max="available" ng-model="quantity">
			<Button class="carButton"> Add to car </Button>
		</div>
	</div>
</div>