<div ng-class= "productValue" >
	<div class="col-md-5 imagesContainer" >
		<div class="row text-center">
			<img ng-class ="mainImageValue" ng-src="{{currentImage}}" >
		</div>
		<div  ng-hide ="isMobile" class ="row text-center">
			<div class="railImages" ng-repeat="image in product.images" >
				<img class="railImage" ng-src="{{image}}" ng-click="imageChange(image)" >
			</div>
		</div>	
	</div>
	<div class= "col-md-5 infoContainer">
		<div class= "row">
			<div ng-class= "titleValue"> {{product.title}}</div>
		</div>
		<div ng-class="priceValue">
			{{product.price | currency}}
		</div>
		<div class= "row">
			<Button ng-class= "cartButtonValue" ng-click="addToCart()" > Add To Cart </Button>
		</div>
		<div ng-class= "descriptionValue">

			{{product.description}}
		</div>
	</div>
</div>