.products{
  li{
    display: inline-block;
    background-color: white;
    margin: 20px;
    width: 250px;
  }
  .title{
    font-size: 20px;
  }
  img.picture{
    height: 200px;
    width: 170px;
  }
}