<div class="cart">
  <div class="text-center">
    <h1> Current items in shopping cart </h1>
  </div>

  <table style="width:100%">
    <tr>
      <td><input type="checkbox" ng-model="checkAll"> select ALL</td>
      <td>item name</td>
      <td> qty </td>
      <td> total </td>
    </tr>
    <tr ng-repeat="product in products">
      <td><input type="checkbox"></td>
      <td><img ng-src="{{product.image}}"></td>
      <td>{{product.name}}</td>
      <td>{{ product.price | currency }}</td>
      <td><input class="qty" type="number" ng-model="{{product.qty}}"> change qty</td>
    </tr>
  </table>

  <b>current total:{{total}}</b><br>

  <button ng-click="update()">Update</button>

</div>