<div class"cart">
    <div class="text-center">
        <h1> Current items in shopping cart </h1>
    </div>

  <table style="width:100%">
    <tr>
      <td>select</td>
      <td>item name</td>
      <td> qty </td>
      <td> total </td>
    </tr>
    <tr ng-repeat"product in products">
      <td><input type="checkbox"></td>
      <td><img class="picture" ng-src="{{product.image}}"></td>
      <td>{{product.name}}</td>
      <td>{{product.price}}$</td>
      <td><input type="text" ng-module="{{product.qty}}"> change qty</td>
    </tr>
  </table>
  current total:{{total}}<br>

  <input type="submit" value"delete" ng-click="delete()">
  <input type="submit" value"update" ng-click="update()">>


</div>